<template>
    <yandex-map
            id="app"
            :settings="settings"
            :coords="lastCoords"
            :zoom="10"
            @click="onClick"
    >
      <ymap-marker
              v-for="(coord, index) in coords"
              :key="index"
              :coords="coord"
              marker-id="index"
              hint-content="some hint"
      />
    </yandex-map>
</template>

<script>
import { yandexMap, ymapMarker } from 'vue-yandex-maps';

export default {
  name: 'Map',
  components: {
    yandexMap,
    ymapMarker
  },
  created(){
    const success = (position) => {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;

        this.lastCoords =  [
          latitude,
          longitude
        ];
      this.coords = [
        [
          latitude,
          longitude
        ]
      ]
    };

    function error() {
      console.log('Unable to retrieve your location');
    }

    if (!navigator.geolocation) {
      console.log('Geolocation is not supported by your browser')
    } else {
      console.log('Locating…');
      navigator.geolocation.getCurrentPosition(success, error);
    }
  },
  data() {
    return {
      settings: {
        apiKey: '9d762d24-d163-49bd-a437-9f5a1f4d55cc',
        lang: 'ru_RU',
        coordorder: 'latlong',
        version: '2.1'
      },
      coords:[
        [
        55.7512485972578,
        37.61927683036223
        ],
        [
        55.7512485972578,
        37.61927683036223
        ],

      ],
      lastCoords: [
        55.7512485972578,
        37.61927683036223
      ]

    }
  },
  methods: {
    onClick(e) {
      const newCoords = e.get('coords')
      // this.coords.push(newCoords);
      this.coords = [newCoords];
      this.lastCoords = newCoords;
    },
  }
}
</script>

<style scoped>
#app {
  width: 100%;
  height: 85vh;
}

.ymap-container {
  height: 100%;
}
</style>
